<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   test.plist
   JS结合WebView 的交互

   Created by yml on 16/3/19.
   Copyright (c) 2016年 yml. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
